In [2]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
filename = '/content/adult.csv'
df_income = pd.read_csv(filename)

In [4]:
filename1 = '/content/Car_Insurance_Claim.csv'
df_insurance = pd.read_csv(filename1)

#Adult Income Dataset

In [5]:
df_income.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

##Source of Data

The data can be sourced from www.kaggle.com and the url is as follows:

* https://www.kaggle.com/datasets/wenruliu/adult-income-dataset

## Brief Description of the Data

The data set contains personal information about an individual to determine whether an individual's income will be less or greater than 50000

##What is the target?

The target is the Income column as we would like to determine whether an individual's income will be more or less than 50000

##What does one row represent?

One row represents a Person as it is an individual's data

##Is this a classification or regression problem?

This is a Classification problem

##How many features does the data have?

In [6]:
df_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [8]:
df_income.shape

(48842, 15)

There is a total of 15 features

##How many rows are in the dataset?

There are 48842 rows in the dataset

##What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

I dont forsee any challenges with this dataset

#Car Insurance Claims

In [9]:
df_insurance.head()

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,1.0,after 2015,0.0,1.0,10238,12000.0,sedan,0,0,0,0.0
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,0.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,0,1.0
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,1.0,before 2015,0.0,0.0,10238,11000.0,sedan,0,0,0,0.0
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,0.0
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,1.0,before 2015,0.0,0.0,32765,12000.0,sedan,2,0,1,1.0

##Source of Data

The data can be sourced from www.kaggle.com and the url is as follows:

* https://www.kaggle.com/datasets/sagnik1511/car-insurance-data

##Brief Description of Data

The data set contains personal information about an individual to determine whether or not a Client will claim from his car insurance or not

##What is the target?

The target column is the output column, we need to predict whether a claim
was made using the data provided

## What does one row represent? (A person? A business? An event? A product?)

One row represents a Person as it is mostly personal information but also represents an event as it shows whether or not a client has been in an accident or not

##Is this a classification or regression problem?

This is a Classification problem

##How many features does the data have ?

In [10]:
df_insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10000 non-null  int64
 1   AGE                  10000 non-null  object
 2   GENDER               10000 non-null  object
 3   RACE                 10000 non-null  object
 4   DRIVING_EXPERIENCE   10000 non-null  object
 5   EDUCATION            10000 non-null  object
 6   INCOME               10000 non-null  object
 7   CREDIT_SCORE         9018 non-null   float64
 8   VEHICLE_OWNERSHIP    10000 non-null  float64
 9   VEHICLE_YEAR         10000 non-null  object
 10  MARRIED              10000 non-null  float64
 11  CHILDREN             10000 non-null  float64
 12  POSTAL_CODE          10000 non-null  int64
 13  ANNUAL_MILEAGE       9043 non-null   float64
 14  VEHICLE_TYPE         10000 non-null  object
 15  SPEEDING_VIOLATIONS  10000 non-null  int64
 16  DUIS                 10000 non-null  int64
 17  PAST_ACCIDENTS       10000 non-null  int64
 18  OUTCOME              10000 non-null  float64
dtypes: float64(6), int64(5), object(8)
memory usage: 1.4+ MB

In [11]:
df_insurance.shape

(10000, 19)

The Dataset has 19 features

##How many rows are in the dataset?

There are 10000 rows in the dataset

##What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

I dont foresee any challenges with the dataset, but the devil is in the detail so once we start cleaning and modeling the data we could run into some challenges